.Registrate {
    height: 100%;
    width: 100%;
    margin-top: 110px;
}

.title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h2 {
    font-size: 44px;
    color: #061a53;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 20px;
}

.title h2 span {
    color: #ef2594;
}

.title h3 {
    font-size: 24px;
    color: #061a53;
    font-weight: bold;
}

.title p {
    font-size: 20px;
    color: #061a53;
    margin: 0;
    width: 900px;
}

.title p span {
    color: #ef2594;
    font-weight: bold;
}

.container_form {
    margin-top: 40px;
    padding: 80px 40px;
    height: 100%;
    background: linear-gradient(90deg, #031750 0%, #972f8c 50%, #ef2594 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_1 {
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    width: 1000px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    gap: 20px;
}

.form_2 {
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    width: 1000px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    gap: 20px;
}

.item_form {
    margin-bottom: 14px;
}

.item_form .input {
    position: relative;
    z-index: 3;
}

.item_form .input {
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 13px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #061a53;
    background-color: rgba(255, 255, 255, 0.6);
}

.item_form .input:focus {
    outline: none;
}


.item_form select {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
    color: #061a53;
    background-color: rgba(255, 255, 255, 0.6);
}

.item_form select:focus {
    outline: none;
}

.item_form textarea {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    color: #061a53;
    background-color: rgba(255, 255, 255, 0.6);
}

.boton {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container_form form .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -20px;
    border: none;
    font-size: 20px;
    color: #061a53;
    font-weight: bold;
    background-image: linear-gradient(to right, #6dbfec 0%, #8ed0eb 51%, #b2e2e8 100%);
    width: 200px;
    height: 40px;
    border-radius: 50px;
    transition: 1s;
    background-size: 200% auto;
}

.container_form form .btn:hover {
    background-position: right center; /* change the direction of the change here */
    text-decoration: none;
}


@media (max-width: 1000px) {
    .container_form{
        padding: 40px 20px;
    }
    .form_1 {
        width: 100%;
    }
    .form_2 {
        width: 100%;
    }
    .title p {
        width: 100%;
        padding: 0 40px;
    }
}

@media (max-width: 654px) {
    .container_form{
        padding: 10px;
    }
}

@media (max-width: 493px) {
    .boton{
        flex-direction: column-reverse;
        align-items: center;
    }
}

.boton{
    display: flex;
    justify-content: center;
}

.boton button{
    border: none;
    background-color: #ef2594 !important;
    width: 200px;
    height: 40px;
    position: absolute;
    bottom: 0;
}
