.section {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

.title {
    margin-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h2 {
    font-size: 44px;
    font-weight: 600;
    color: #061a53;
    margin: 0;
}

.title h2 span {
    color: #ef2594;
}

.title p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #061a53;
    width: 1200px;
}

.manchas_pinturas {
    position: absolute;
    right: 0;
    top: 0;
}

.video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    display: flex;
}
.card_genera {
    position: relative;
    margin-top: 30px;
    width: 800px;
    height: 100%;
    border-radius: 30px;
    background-color: #e8e8e8;
    border: solid 8px #ef2594;
    transition: 1s;
    cursor: pointer;
}

.card_genera:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    transform: rotate(0deg);
    background-color: #b205e7;
    border-radius: 30px;
    z-index: -1;
    transition: 1s;
}

.card_genera:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: rotate(0deg);
    background-color: #87ca38;
    border-radius: 30px;
    z-index: -1;
    transition: 1s;
}

.card_genera:hover:after {
    transform: rotate(4deg);
    left: -30px;
    top: 0;
}

.card_genera:hover:before {
    transform: rotate(-4deg);
    right: -20px;
    top: 0;
}
@media (max-width: 1313px) {
    .title p {
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .card_genera {
        width: 100%;
    }

}

@media (max-width: 508px) {
    .title h2 {
        font-size: 35px;
    }
    .title p {
        font-size: 17px;
    }
}