.autor {
    text-align: center;
    cursor: pointer;
    padding: 20px;
    width: 380px;
    height: 336px;
}

.info {
    margin-top: 10px;

}

.info h3 {
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
    transition: 1s;
}

.host {
    background-color: #ef2594;
}

.panelistas {
    background-color: #87ca38;
}

.moderador {
    background-color: #6cbeed;
}

.conferencista {
    background-color: #b205e7;
}

.especial {
    background-color: #ff5e00;
}

.consejero{
    background-color: #87ca38;
}


.autor:hover .info h3 {
    background-color: #ef2594;
}

.info h4 {
    font-size: 20px;
    color: #061a53;
    margin: 0;
    font-weight: bold;
}

.info h5 {
    font-size: 20px;
    color: #061a53;

}


@media (max-width: 1452px) {
    .info h3 {
        font-size: 28px;
        color: #ffffff;
        font-weight: bold;
        transition: 1s;
    }
}

@media (max-width: 1200px) {
    .info h3 {
        font-size: 24px;
        padding: 2px;
        color: #ffffff;
        font-weight: bold;
        transition: 1s;
    }

}

@media (max-width: 767px) {
   .autor{
       height: 100%;
   }
}