.section {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.title {
    margin-top: 140px;
    text-align: center;
}

.title h2 {
    font-size: 58px;
    color: #ef2594;
    font-weight: 600;
    letter-spacing: 0;
    margin: 0;
}

.title p {
    font-size: 30px;
    color: #061a53;
    margin: 0;
}

.title p span {
    font-weight: bold;
    color: #b205e7;
}

.general_artistas {
    position: relative;
    margin-top: 100px;
    height: 500px;
    background-image: url("/images/fondo-artistas.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    padding: 0 40px;
}
.circle_artista_local{
    position: relative;
    z-index: 1;
}
.circle_artista_local, .mucho_flow {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    position: relative;
    perspective: 500px;
    cursor: pointer;
}

.circle_artista_tiktok {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    position: relative;
    perspective: 500px;
    cursor: pointer;
    margin-left: -25px;
    margin-right: -20px;
    z-index: 1;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.circle_artista_local .front {
    background-color: #061a53;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle_artista_local .back {
    background-color: #061a53;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mucho_flow .front {
    background-color: #8318df;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mucho_flow .back {
    background-color: #8318df;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle_artista_tiktok .front {
    background-color: #ef2594;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle_artista_tiktok .back {
    background-color: #ce2a90;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front {
    border-radius: 100%;
}

.back {
    transform: rotateY(180deg);
}

.circle_artista_local:hover .front {
    transform: rotateY(180deg);
}

.circle_artista_local:hover .back {
    transform: rotateY(360deg);
}

.circle_artista_local:hover h2 {
    filter: blur(0px);
}

.circle_artista_tiktok:hover .front {
    transform: rotateY(180deg);
}

.circle_artista_tiktok:hover .back {
    transform: rotateY(360deg);
}

.circle_artista_tiktok:hover h2 {
    filter: blur(0px);
}


.mucho_flow:hover .front {
    transform: rotateY(180deg);
    z-index: 2;
}

.mucho_flow:hover .back {
    transform: rotateY(360deg);
    z-index: 2;
}

.mucho_flow:hover h2 {
    filter: blur(0px);
}

.circle_artista_local h2 {
    width: 240px;
    font-size: 59px;
    color: #ce2a90;
    font-weight: 600;
    margin: 0;
    filter: blur(10px);
    transition: 0.8s;
}


.circle_artista_local h2 span {
    color: #e6c42e;
}


.circle_artista_tiktok h2 {
    width: 230px;
    font-size: 38px;
    color: #ffffff;
    font-weight: 600;
    margin: 0;
    filter: blur(10px);
    transition: 0.8s;
}

.circle_artista_tiktok h2 span {
    color: #6cbeed;
}

.mucho_flow h2 {
    width: 230px;
    font-size: 59px;
    color: #ffffff;
    font-weight: 600;
    margin: 0;
    filter: blur(10px);
    transition: 0.8s;
}

.mucho_flow h2 span {
    color: #fcd52b;
}

.cicle_grande_rosa {
    position: absolute;
    top: 60px;
    right: 300px;
    animation: cicle_grande_rosa 2s infinite;
}

@keyframes cicle_grande_rosa {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.cicle_pequeño_morado {
    position: absolute;
    top: 200px;
    right: 200px;
    animation: cicle_pequeno_morado 2s infinite;
}

@keyframes cicle_pequeno_morado {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.cicle_grande_blanca {
    position: absolute;
    bottom: 60px;
    right: 300px;
    animation: cicle_grande_blanca 2s infinite;
}

@keyframes cicle_grande_blanca {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.cicle_grande_morado {
    position: absolute;
    top: 60px;
    left: 300px;
    animation: cicle_grande_morado 2s infinite;
}

@keyframes cicle_grande_morado {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.cicle_pequeño_rosa {
    position: absolute;
    top: 300px;
    left: 300px;
    animation: cicle_pequeno_rosa 2s infinite;
}

@keyframes cicle_pequeno_rosa {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.apoyo_grafico {
    position: absolute;
    right: 0;
    top: -200px;
    z-index: -1;
}

@media (max-width: 1650px) {
    .cicle_grande_rosa {
        right: 200px;
    }

    .cicle_pequeño_morado {
        right: 100px;
    }

    .cicle_grande_blanca {
        right: 200px;
    }

    .cicle_grande_morado {
        left: 200px;
    }

    .cicle_pequeño_rosa {
        left: 200px;
    }

}

@media (max-width: 1452px) {
    .cicle_grande_rosa {
        right: 100px;
    }

    .cicle_pequeño_morado {
        right: 0;
    }

    .cicle_grande_blanca {
        right: 100px;
    }

    .cicle_grande_morado {
        left: 100px;
    }

    .cicle_pequeño_rosa {
        left: 100px;
    }

}

@media (max-width: 1000px) {
    .general_artistas{
        flex-direction: column;
        height: 100%;
        padding: 40px;
    }
    .circle_artista_tiktok {
        margin-top: -50px;
        margin-bottom: -50px;
    }
}

@media (max-width: 654px) {
    .title h2 {
        font-size: 40px;
    }
    .title p {
        font-size: 22px;
    }
    .section {
        padding: 0;
    }
    .circle_artista_local, .mucho_flow {
        width: 250px;
        height: 250px;
    }
    .circle_artista_local h2 {
        font-size: 40px;
    }
    .circle_artista_tiktok {
        width: 200px;
        height: 200px;
    }
    .circle_artista_tiktok h2 {
        font-size: 24px;
    }
}
